.hieroglyphics-span {
  font-size: 40px;
  margin: auto;
  padding: 10px;
}

.hieroglyphics-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 5% auto 5% auto;
}

.hieroglyph-link {
  border: 1px solid #2d2e16;
  margin: auto auto 2% auto;
  border-radius: 20%;
  background-color: #a5a84d;
}

@media screen and (max-width: 480px) {
  .hieroglyphics-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .hieroglyph-link {
    border-radius: 30%;
  }

  .hieroglyphics-span {
    font-size: 20px;
  }
}