.letter-container {
  display: flex;
  align-content: center;
  margin: auto;
  cursor: default;
}

.logo-container {
  display: grid;
}

.letter-meaning {
  margin: auto;
}

@media screen and (max-width: 480px) {
  .letter-container {
    display: block;
  }
}
